   <nav class="navbar navbar-dark bg-dark" style="height: 80px; color: aliceblue;">
        <a class="navbar-brand" href="/">Navbar</a>

        <a href="/about" style="text-decoration: none;">about</a>
      </nav>